img.img-thumbnail {
  height: 100px;
  min-width: 100px !important;
  opacity: 1;
  margin-bottom: 2px;
}

.nv-file-over {
  border: dotted 3px red;
}

input[type=file] {
  color: transparent;
}

.unapproved {
  opacity: 0.2 !important;
}
